.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgb(252 252 252 / 40%);
  transition: background-color 0.5s linear;

  svg {
    display: block;
    width: 15px;
    height: 15px;
    fill: transparent;
    stroke: var(--light-color);
    stroke-width: 2px;
    object-fit: cover;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--dark-color);
    transition: background-color 0.1s linear;
  }

  &:hover:not(:focus) {
    background-color: var(--dark-color);
    transition: background-color 0.1s linear;
  }
}

.btn-search-header {
  margin-right: 30px;
}