.btn-lk {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgb(252 252 252 / 40%);

  svg {
    display: block;
    width: 13px;
    height: 15px;
    fill: transparent;
    stroke: var(--light-color);
    stroke-width: 2px;
    object-fit: cover;
  }
}
