.btn-slider {
  @include mr(25px);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--grey-color);
  transition: background-color 0.5s linear;

  svg {
    width: 20px;
    height: 20px;
    stroke: var(--dark-color);
    stroke-width: 2px;
    transition: stroke 0.5s linear;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--dark-color);
    transition: background-color 0.1s linear;

    svg {
      stroke: var(--light-color);
      transition: stroke 0.1s linear;
    }
  }

  &:hover {
    background-color: var(--dark-color);
    transition: background-color 0.1s linear;

    svg {
      stroke: var(--light-color);
      transition: stroke 0.1s linear;
    }
  }

  &:active {
    background-color: var(--orange-color);
    transition: background-color 0.1s linear;

    svg {
      stroke: var(--light-color);
      transition: stroke 0.1s linear;
    }
  }
}