.feedback {
  position: relative;
  background-color: var(--dark-color);

  &::after {
    @include bg-cover;

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-image: url("../img/feedback-pic.webp");
    background-position: bottom;
    transform: translateX(100%);
  }

  &__content {
    padding-top: 74px;
    padding-right: 60px;
    padding-bottom: 75px;
    width: 50%;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--light-color);
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    color: var(--light-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-bottom: 21px;
    padding-bottom: 10px;
  }

  &__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--light-color);
  }
}
