.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: var(--dark-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    text-align: center;
    transition: color 0.5s linear;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: var(--orange-color);
      transition: background-color 0.1s linear;
    }

    &:hover:not(:focus-visible) {
      color: var(--orange-color);
      transition: background-color 0.1s linear;
    }
  }

  &__link {
    transition: color 0.5s linear;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: var(--orange-color);
      transition: background-color 0.1s linear;
    }

    &:hover:not(:focus-visible) {
      color: var(--orange-color);
      transition: background-color 0.1s linear;
    }
  }
}