.form {
  &__input {
    border-bottom: 1px solid #45545e;
    padding-top: 25px;
    padding-bottom: 15px;
    width: 100%;
    color: var(--light-color);
    background-color: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #7e8386;
    }
  }

  &__label {
    &:last-of-type {
      margin-bottom: 45px;
    }
  }
}
