.header {
  position: relative;

  &__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    transition: color 0.5s linear;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: var(--dark-color);
      transition: background-color 0.1s linear;
    }

    &:hover:not(:focus) {
      color: var(--dark-color);
      transition: background-color 0.1s linear;
    }
  }
}