.hero {
  @include bg-cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  padding-top: 234px;
  padding-bottom: 204px;
  background-image: url("../img/hero-1.webp");
  background-position: bottom;

  &__title {
    margin: 0;
    margin-bottom: 22px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 98px;
    line-height: 145px;
    color: var(--light-color);
  }

  &__link {
    border: 2px solid var(--light-color);
    padding: 11px 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-color);
  }
}
