.phone-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-color);
  transition: color 0.5s linear;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    color: var(--dark-color);
    transition: color 0.1s linear;
  }

  &:hover:not(:focus) {
    color: var(--dark-color);
    transition: color 0.1s linear;
  }
}

.phone-link-header {
  margin-right: 45px;
}
