.table {
  width: 100%;
  max-width: 830px;

  &__head {
    th {
      padding: 10px;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      text-align: left;
      color: var(--chateau-color);

      &:first-child {
        width: calc(88px / 830px * 100%);
      }

      &:nth-child(2) {
        width: (186px / 830px * 100%);
      }

      &:nth-child(3) {
        width: (173px / 830px * 100%);
      }

      &:nth-child(4) {
        width: (180px / 830px * 100%);
      }
    }
  }

  &__body {
    td {
      padding: 16px 10px 17px;
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
      text-align: left;
      color: var(--light-color);
    }
  }

  tr {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #45545e;
    }
  }
}
