.tours {
  background-image: linear-gradient(0deg, rgb(6 27 40 / 92%), rgb(6 27 40 / 92%)), url("../img/tours-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 13px;
    text-align: center;
    color: var(--light-color);
  }

  &__desc {
    margin: 0;
    margin-bottom: 34px;
    max-width: 245px;
    text-align: center;
    color: var(--light-color);
  }

  &__table {
    margin-bottom: 48px;
  }

  &__btn {
    border: 2px solid  var(--light-color);
    padding: 11px 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--light-color);
    transition: background-color 0.5s linear, color 0.5s linear;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: var(--dark-color);
      background-color: var(--light-color);
      transition: background-color 0.1s linear, color 0.5s linear;
    }

    &:hover {
      color: var(--dark-color);
      background-color: var(--light-color);
      transition: background-color 0.1s linear, color 0.5s linear;
    }
  }
}
