<section class="blog">
  <div class="container">
    <h2 class="blog__title section-title">Блог</h2>
    <div class="blog__tabs">

      <div class="blog__nav">
        <ul class="blog__list list-reset">
          <li class="blog__item">
            <button class="blog__btn blog__btn_active btn-reset" data-path="headline-1">
              <time class="blog__date date" datatime="2020-01-15">15 января, 2020</time>
              <span class="blog__headline">Как подготовиться к первому
                восхождению на вершину</span>
            </button>
          </li>
          <li class="blog__item">
            <button class="blog__btn btn-reset" data-path="headline-2">
              <time class="blog__date date" datatime="2020-01-10">10 января, 2020</time>
              <span class="blog__headline">Фестиваль Alpika Freeski Аlpindustria Fest
                Красная Поляна 13-16 февраля</span>
            </button>
          </li>
          <li class="blog__item">
            <button class="blog__btn btn-reset" data-path="headline-3">
              <time class="blog__date date" datatime="2019-12-20">20 декабря, 2019</time>
              <span class="blog__headline">Особенности альпинизма на Камчатке.
                Все о Ключевой Сопке</span>
            </button>
          </li>

          <li class="blog__item">
            <button class="blog__btn btn-reset" data-path="headline-4">
              <time class="blog__date date" datatime="2019-12-15">15 декабря, 2019</time>
              <span class="blog__headline">Что происходит с человеком на высоте более 3000 метров?</span>
            </button>
          </li>
          <li class="blog__item">
            <button class="blog__btn btn-reset" data-path="headline-5">
              <time class="blog__date date" datatime="2019-12-01">1 декабря, 2019</time>
              <span class="blog__headline">Даешь давление для альпинистов или как дышать свободно на вершинах?</span>
            </button>
          </li>
        </ul>
        <button class="blog__btn-news btn-reset btn-main">Читать все новости</button>
      </div>

      <div class="blog__content">
        <article class="blog__article blog__article_active article-1" data-target="headline-1">
          <img class="blog__pic" src="../img/blog-pic-1.webp" alt="Как подготовиться к первому восхождению на вершину">
          <time class="blog__date date" datatime="2020-01-15">15 января, 2020</time>
          <h3 class="blog__topic">Как подготовиться к первому восхождению на вершину</h3>
          <p class="blog__descr">
            Перед тем, как отправиться на покорение вершины горы, нужно не только привести в порядок свою физическую
            форму, но и тренировать выносливость, дыхательную и сердечно-сосудистую системы. Именно на них приходится
            максимальная нагрузка на высоте. Поэтому из-за недостаточной подготовки вы можете сойти на полпути. Чтобы
            этого не случилось, занимайтесь плаванием, бегом, велосипедом и кардиотренировками.
          </p>
          <p class="blog__descr">
            Как должны проходить тренировки? В первую очередь, тренировки должны проходить постоянно, эффективно и
            интенсивно. Кроме того, нагрузка постепенно должна увеличиваться. В случае с бегом обязательно делать это с
            учетом пульса. Грамотно спланированный бег позволит не только сбросить вес, но и укрепит сердечную мышцу.
            При беге с высоким пульсом вы позволите организму привыкнуть к недостатку кислорода — то, с чем обязательно
            встретитесь в горах. Для укрепления физической подготовки и повышения выносливости также бегайте в горку или
            в быстром темпе поднимайтесь по лестницам. И не забудьте отдохнуть за неделю до путешествия!
          </p>
        </article>

        <article class="blog__article article-2" data-target="headline-2">
          <img class="blog__pic" src="../img/blog-pic-2.webp" alt="Фестиваль Alpika Freeski Аlpindustria Fest Красная Поляна 13-16 февраля">
          <time class="blog__date date" datatime="2020-01-10">10 января, 2020</time>
          <h3 class="blog__topic">Фестиваль Alpika Freeski Аlpindustria Fest
            Красная Поляна 13-16 февраля</h3>
          <p class="blog__descr">
            4 дня высокогорного адреналина, лекций и apres-ski вечеринкок! Кроме того, все участники фестиваля,
            катающиеся вне трасс, смогут посетить практические занятия по лавинной безопасности и альпинизму от
            Ассоциации Горных Гидов России.
          </p>
          <p class="blog__descr">
            Очень интересная и захватывающая гонка, для участия в которой нужно обладать альпинистской базой знаний и
            умений, а также уметь работать с лавинным снаряжением и напарником на сложном снежном рельефе. Гонка для
            настоящих экспертов в своем деле!
          </p>
        </article>

        <article class="blog__article article-2" data-target="headline-3">
          <img class="blog__pic" src="../img/blog-pic-3.webp" alt="Особенности альпинизма на Камчатке">
          <time class="blog__date date" datatime="2019-12-20">20 декабря, 2019</time>
          <h3 class="blog__topic">Особенности альпинизма на Камчатке.
            Все о Ключевой Сопке</h3>
          <p class="blog__descr">
            На Камчатке множество вулканов, потухших и действующих, для восхождения на которые требуются навыки
            альпинизма, соответствующее снаряжение и опытный инструктор.
            Горы Камчатки отличаются от привычных гор Кавказа или Алтая прежде всего меньшим пределом высоты, за которым
            вероятно возникновение горной болезни. Так, на высоте свыше 3000 метров над уровнем моря уже сильно заметно
            кислородное голодание, и часто возникают и другие признаки "горняшки", если восхождение происходит без
            акклиматизации.
            Лучшее время для восхождений на Камчатке - с апреля по сентябрь.
          </p>
          <p class="blog__descr">
            Вулканы, расположенные на Камчатском полуострове, это необыкновенно захватывающее зрелище. Более трети
            территории края занимают эти гигантские исполины. Благодаря им, все вокруг постоянно находится в движении,
            то предрекая близкое извержение, то набирая сил для нового. Для человека, впервые наблюдающего извержение,
            это зрелище производит ошеломляющий эффект, заставляя пересмотреть отношение к природной стихии, восхищаться
            могучей стихией огня, мощнейшими горячими реками красной лавы, взрывными залпами и фейерверками из камней.
            Один из самых известных вулканов Камчатки носит название Ключевская сопка.
          </p>
        </article>

        <article class="blog__article article-2" data-target="headline-4">
          <img class="blog__pic" src="../img/blog-pic-4.webp" alt="Что происходит с человеком на высоте более 3000 метров?">
          <time class="blog__date date" datatime="2019-12-15">15 декабря, 2019</time>
          <h3 class="blog__topic">Что происходит с человеком на высоте более 3000 метров?</h3>
          <p class="blog__descr">
            Из курса физики хорошо известно, что с повышением высоты над уровнем моря атмосферное давление падает. Если
            до высоты 500 метров никаких значительных изменений этого показателя не наблюдается, то при достижении 5000
            метров атмосферное давление уменьшается почти вдвое. С уменьшением атмосферного давления падает и
            парциальное давление кислорода в воздушной смеси, что моментально сказывается на работоспособности
            человеческого организма. Механизм этого воздействия объясняется тем, что насыщение крови кислородом и его
            доставка к тканям и органам осуществляется за счёт разности парциального давления в крови и альвеолах
            лёгких, а на высоте эта разница уменьшается.
          </p>
        </article>
        <article class="blog__article article-2" data-target="headline-5">
          <img class="blog__pic" src="../img/blog-pic-5.webp" alt="Даешь давление для альпинистов или как дышать свободно на вершинах?">
          <time class="blog__date date" datatime="2019-12-01">1 декабря, 2019</time>
          <h3 class="blog__topic">Даешь давление для альпинистов или как дышать свободно на вершинах?</h3>
          <p class="blog__descr">
            Покорение вершин в прошлом было связано со значительными трудностями, впрочем, не исчезнувшими и сегодня:
            низкая температура, ураганные ветра, со скоростью ветра, достигающей 160 км/час, резкая смена погоды, ну и,
            конечно же, — невозможность полноценно дышать на такой высоте. Это связано с тем, что атмосферное давление
            падает по мере удаления от поверхности Земли. Для примера, на вершине Эвереста, атмосферное давление
            составляет всего лишь около 30% от того, которое является обычным и к которому мы привыкли, находясь на
            уровне моря.
          <p class="blog__descr">
            Высота же, находящаяся после отметки в 8.000 метров, называется «зоной смерти», так как на таких высотах
            адаптация к низкому давлению невозможна и человек постепенно начинает умирать. При таком понижении давления,
            могут происходить такие негативные явления как бред, внезапная слепота и даже отёк мозга.
            Поэтому альпинисты, совершающие восхождения на такие высокие пики, вынуждены брать с собой запас воздуха для
            дыхания в баллонах. В среднем, альпинисту требуется до 28 л сжатого воздуха для восхождения, который будет
            израсходован за 140 часов, при максимальной интенсивности дыхания.
          </p>
        </article>
      </div>

    </div>
  </div>
</section>
