<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__maps" id="map"></div>
    <div class="contacts__content">
      <h2 class="contacts__title section-title">Контакты</h2>
      <ul class="contacts__list list-reset">
        <li class="contacts__item">
          <h3 class="contacts__headline">Адрес:</h3>
          <address class="contacts__value">Санкт-Петербург,
            ул. Большая Конюшенная, 19</address>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__headline">Телефон:</h3>
          <a href="tel:88007773325" class="contacts__value">8 (800) 777-33-25</a>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__headline">E-mail:</h3>
          <a href="mailto:info@mountain.ru" class="contacts__value">info@mountain.ru</a>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__headline">Социальные сети:</h3>
          <ul class="socials list-reset">
            <li class="socials__item">
              <a href="#" class="socials__link" target="_blank">
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link" target="_blank">
                <svg>
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link" target="_blank">
                <svg>
                  <use xlink:href="img/sprite.svg#ok"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>