<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">Mountain</a>
    <nav class="nav nav-header">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Туры</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Подбор тура</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__right">
      <a class="phone-link phone-link-header" href="tel:88007773325">8 (800) 777-33-25</a>
      <button class="btn-reset btn-search btn-search-header" aria-label="Поиск по сайту">
        <svg>
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <button class="btn-reset btn-lk" aria-label="Войти в личный кабинет">
        <svg>
          <use xlink:href="img/sprite.svg#lk"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
