<section class="popular">
  <div class="container">
    <h2 class="section-title popular__title">Популярные туры</h2>
    <div class="swiper popular-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide popular-slide-1">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Россия</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Белуха</h3>
              <span class="card__descr">4506 м &nbsp;|&nbsp; 12 дней &nbsp;|&nbsp; от 45 000 ₽</span>
              <span class="card__level card__level_mid">Средний уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-2">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Россия</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Эльбрус</h3>
              <span class="card__descr">5642 м &nbsp;|&nbsp; 10 дней &nbsp;|&nbsp; от 25 000 ₽</span>
              <span class="card__level card__level_mid">Средний уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-3">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Танзания</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Килиманджаро</h3>
              <span class="card__descr">5895 м &nbsp;|&nbsp; 4 дня &nbsp;|&nbsp; от 55 000 ₽</span>
              <span class="card__level card__level_simple">Простой уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-4">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Аляска</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Денали</h3>
              <span class="card__descr">5500 м &nbsp;|&nbsp; 7 дней &nbsp;|&nbsp; от 85 000 ₽</span>
              <span class="card__level card__level_mid">Средний уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-5">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Непал</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Эверест</h3>
              <span class="card__descr">8848 м &nbsp;|&nbsp; 10 дней &nbsp;|&nbsp; от 105 000 ₽</span>
              <span class="card__level card__level_hard">Сложный уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-6">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Мексика</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Орисаба</h3>
              <span class="card__descr">5610 м &nbsp;|&nbsp; 12 дней &nbsp;|&nbsp; от 95 000 ₽</span>
              <span class="card__level card__level_mid">Средний уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-7">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Эквадор</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Котопахи</h3>
              <span class="card__descr">5897 м &nbsp;|&nbsp; 5 дней &nbsp;|&nbsp; от 75 000 ₽</span>
              <span class="card__level card__level_hard">Сложный уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-8">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Швейцария</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Маттерхорн</h3>
              <span class="card__descr">4478 м &nbsp;|&nbsp; 10 дней &nbsp;|&nbsp; от 65 000 ₽</span>
              <span class="card__level card__level_simple">Простой уровень</span>
            </div>
          </article>
        </div>
        <div class="swiper-slide popular-slide-9">
          <article class="card">
            <div class="card__head">
              <span class="card__place">Аргентина</span>
              <button class="card__like btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#flag"></use>
                </svg>
              </button>
            </div>
            <div class="card__content">
              <h3 class="card__title">Аконкагуа</h3>
              <span class="card__descr">6960 м &nbsp;|&nbsp; 14 дней &nbsp;|&nbsp; от 115 000 ₽</span>
              <span class="card__level card__level_mid">Средний уровень</span>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-nav">
      <button class="btn-reset btn-slider btn-prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-to-left"></use>
        </svg>
      </button>
      <button class="btn-reset btn-slider btn-next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-to-right"></use>
        </svg>
      </button>
    </div>
</section>
