<section class="tours">
  <div class="container tours__container">
    <h2 class="section-title tours__title">Россия</h2>
    <p class="tours__desc section-descr">
      Более 15 туров для альпинистов всех уровней
    </p>
    <table class="tours__table table">
      <thead class="table__head">
        <tr>
          <th></th>
          <th>Вершина</th>
          <th>Высота</th>
          <th>Уровень</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr>
          <td></td>
          <td>Эльбрус</td>
          <td>5642 м</td>
          <td>Средний</td>
          <td>от 25 000 ₽</td>
        </tr>
        <tr>
          <td style="width: 20px;"></td>
          <td>Казбек</td>
          <td>5033 м</td>
          <td>Сложный</td>
          <td>от 30 000 ₽</td>
        </tr>
        <tr>
          <td></td>
          <td>Белуха</td>
          <td>4506 м</td>
          <td>Простой</td>
          <td>от 20 000 ₽</td>
        </tr>
        <tr>
          <td></td>
          <td>Дыхтау</td>
          <td>5204 м</td>
          <td>Сложный</td>
          <td>от 40 000 ₽</td>
        </tr>
      </tbody>
    </table>
    <button class="btn-reset tours__btn">Смотреть все</button>
  </div>
</section>
