// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fcfcfc;
  --dark-color: #061b28;
  --grey-color: #e6e8ea;
  --orange-color: #ec5118;
  --chateau-color: #a7aeb4;
}
